

/***************************************
              general
***************************************/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/***************************************
              main
***************************************/

.outer-container  {
  background: #455A64;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/****  section input container  ******/

.input-container  {
  background: #455A64;
  height: 100%;
  min-height: 100vh;
  width: 50%;
}

h1  {
  color: #FFF;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 100px;
  text-align: center;
}

.linked-list-logo {
  height: auto;
  width: 78px;
}

input {
  display: block;
  font-size: 28px;
  font-weight: 400;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  width: 90%;
}

button {
  background: #FFC107;
  border: none;
  color: #FFF;
  display: block;
  font-size: 18px;
  font-weight: 800;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 90%;
}

.enter-button {
  margin-bottom: 20px;
}

button:hover {
  background: #FFD773;
}

button:disabled {
  background: #FFC107;
}

.display  {
  color: #FFF;
  display: inline;
}

.read-display {
  margin-left: 6%
}

.link-display {
  float: right;
  margin-right: 6%;
  margin-top: 0px;
}

/********  section new link container  **************/

.new-link-container  {
  background: #CFD8DC;
  height: 100%;
  min-height: 100vh;
  width: 50%;
}

article {
  background: #FFF;
  border: solid 2px #607D8B;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.link-title {
  color: #455A64;
  font-size: 26px;
  font-weight: 800;
  margin: 8px 0 0 6%;
}

hr  {
  color: #CFD8DC;
  height: 2px;
  margin: auto;
  width: 90%;
}

.hr1  {
  margin-bottom: 16px;
}

.hr2  {
  margin-bottom: -4px;
  margin-top: 22px;
}

a {
  color: #607D8B;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 6%;
  text-decoration-color: #F2F4F4;
  text-decoration: underline;
  text-underline-position: under;
}

.read {
  color: #455A64;
  display: inline;
  font-size: 12px;
  float: left;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  text-underline-position: under;
  margin-left: 6%;
  margin-top: 13px;
}

.read-click-underline {
  text-decoration-color: #CFD8DC;
}

.delete  {
  color: #455A64;
  display: inline;
  float: right;
  font-size: 12px;
  font-weight: 400;
  margin-right: 6%;
  margin-top: 13px;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  text-underline-position: under;
}

.read-click {
  background: #F2F4F4;
  color: #F05A28;
  text-decoration-color: #CFD8DC;
}

.the-link:hover,
.read:hover,
.delete:hover {
  color: #455A64;
  cursor: pointer;
  text-decoration-color: #FFC107;
}


/***************************************
media query 900
****************************************/

@media screen and (max-width: 900px) {

  h1  {
    font-size: 46px;
  }

  .linked-list-logo {
    width: 65px;
  }

}


/***************************************
media query 720
****************************************/

@media screen and (max-width: 720px) {

.outer-container {
  background: #455A64;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.input-container  {
  height: 473px;
  min-height: 0px;
  width: 100%;
}

.title  {
  margin-top: 20px;
}

.new-link-container  {
  width: 100%;
}

.link-card  {
  width: 95%;
}

}


/***************************************
media query 390
****************************************/

@media screen and (max-width: 390px) {

.input-container  {
  height: 318px;
  width: 100%;
}

h1  {
  font-size: 22px;
  margin-bottom: 10px;
}

.linked-list-logo {
  width: 32px;
}

input {
  margin-bottom: 17px;
}

button  {
  margin-bottom: 17px;
}

.enter-button {
  margin-bottom: -5px;
}

.link-card  {
  height: 136px;
}

.link-title  {
  font-size: 16px;
}

.the-link {
  font-size: 14px;
}

}
